button.org_btn {
    width: 180px;
    height: 80px;
    text-align: center;
    padding: 0px;
    font-size: 1.2em;
    font-weight: 400;
    background-color: #fff;
    border: none;
    &:hover {
        cursor: pointer;
        border: 1px solid #000;
    }
    &:focus {
        outline: none;
    }
}