div.org_list_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div.org_list_item-main {
        div.org_list_item-title {
            font-size: 1.6em;
            line-height: 1.5em;
            padding-top: 10px;
        }
        div.org_list_item-desc {
            font-size: 1.1em;
            padding-bottom: 10px;
        }
    }
    div.org_list_item-items {
        font-size: 1.1em;
    }
}